In [ ]:
import pandas as pd
import sqlite3
from pandasql import sqldf

boxoffice = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
movie_info = pd.read_table('zippedData/rt.movie_info.tsv.gz')
reviews = pd.read_table('zippedData/rt.reviews.tsv.gz', encoding='windows-1252')
movies = pd.read_csv('zippedData/tmdb.movies.csv.gz', index_col=0)
movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz', index_col=0)

conn = sqlite3.connect('zippedData/im.db')

pysqldf = lambda q: sqldf(q, globals())

In [51]:
joined

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,movie_id,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",tt0063540,7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",tt0066787,7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,tt0069049,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",tt0069204,6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",tt0100275,6.5,119
...,...,...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,tt9913084,6.2,6
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",tt9914286,8.7,136
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,tt9914642,8.5,8
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,None,tt9914942,6.6,5
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,tt9916160,6.5,11

In [65]:
pd.read_sql("SELECT * FROM movie_akas", conn)

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
331700,tt9880178,1,La atención,None,None,original,None,1.0
331701,tt9880178,2,La atención,ES,None,None,None,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0

In [75]:
movies

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [112]:
joined = pd.read_sql("SELECT * FROM movie_basics mb JOIN movie_ratings mr ON mb.movie_id=mr.movie_id", conn)

q = """SELECT * FROM joined j JOIN movie_budgets mb ON mb.movie=j.primary_title JOIN movies m ON m.original_title=j.original_title"""
master_df = pysqldf(q).drop_duplicates(subset='primary_title', keep='first')
master_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,id,release_date,...,worldwide_gross,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",1.9,8248,26,"Dec 31, 2012",...,"$73,706","[16, 28, 35, 10751]",116977,en,Foodfight!,4.705,2013-05-07,Foodfight!,2.1,46
1,tt0326592,The Overnight,The Overnight,2010,88.0,None,7.5,24,21,"Jun 19, 2015",...,"$1,165,996","[9648, 35]",308024,en,The Overnight,6.576,2015-06-19,The Overnight,6.0,200
2,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,17,"Mar 22, 2013",...,"$9,313,302","[12, 18]",83770,en,On the Road,8.919,2012-12-21,On the Road,5.6,518
3,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,37,"Dec 25, 2013",...,"$187,861,183","[12, 35, 18, 14]",116745,en,The Secret Life of Walter Mitty,10.743,2013-12-25,The Secret Life of Walter Mitty,7.1,4859
4,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,67,"Sep 19, 2014",...,"$62,108,587","[80, 18, 9648, 53]",169917,en,A Walk Among the Tombstones,19.373,2014-09-19,A Walk Among the Tombstones,6.3,1685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,tt7401588,Instant Family,Instant Family,2018,118.0,"Comedy,Drama",7.4,46728,20,"Nov 16, 2018",...,"$119,736,188","[35, 18]",491418,en,Instant Family,22.634,2018-11-16,Instant Family,7.6,782
2839,tt7766254,Big,Big,2017,99.0,Documentary,8.5,6,67,"Jun 3, 1988",...,"$151,668,774","[14, 18, 35, 10749, 10751]",2280,en,Big,15.031,1988-06-03,Big,7.0,1813
2841,tt7784604,Hereditary,Hereditary,2018,127.0,"Drama,Horror,Mystery",7.3,151571,56,"Jun 8, 2018",...,"$70,133,905","[27, 9648, 53]",493922,en,Hereditary,26.185,2018-06-08,Hereditary,7.0,2491
2848,tt8043306,Teefa in Trouble,Teefa in Trouble,2018,155.0,"Action,Comedy,Crime",7.4,2724,8,"Jul 20, 2018",...,"$98,806","[18, 35, 28, 80]",506971,ur,Teefa in Trouble,4.486,2018-07-20,Teefa in Trouble,7.6,11
2868,tt8632862,Fahrenheit 11/9,Fahrenheit 11/9,2018,128.0,Documentary,6.7,11628,29,"Sep 21, 2018",...,"$6,653,715",[99],532908,en,Fahrenheit 11/9,10.003,2018-09-10,Fahrenheit 11/9,7.1,142

In [105]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2899 entries, 0 to 2898
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_id           2899 non-null   object
 1   primary_title      2899 non-null   object
 2   original_title     2899 non-null   object
 3   start_year         2899 non-null   int64
 4   runtime_minutes    2805 non-null   float64
 5   genres             2892 non-null   object
 6   averagerating      2899 non-null   float64
 7   numvotes           2899 non-null   int64
 8   id                 2899 non-null   int64
 9   release_date       2899 non-null   object
 10  movie              2899 non-null   object
 11  production_budget  2899 non-null   object
 12  domestic_gross     2899 non-null   object
 13  worldwide_gross    2899 non-null   object
 14  genre_ids          2899 non-null   object
 15  id                 2899 non-null   int64
 16  original_language  2899 non-null   object
 17  original_title     2899 non-null   object
 18  popularity         2899 non-null   float64
 19  release_date       2899 non-null   object
 20  title              2899 non-null   object
 21  vote_average       2899 non-null   float64
 22  vote_count         2899 non-null   int64
dtypes: float64(4), int64(5), object(14)
memory usage: 521.0+ KB

Data analysis brainstorming:
- How genre impacts profitability of a movie
- Does higher rating mean more profitability
- How does runtime impact profitability
- How does budget impact profit margins (does a higher budget lead to a higher or lower profit margin on average?)